/* frontend/style.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

form {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#shortenedUrl {
    margin-top: 20px;
    font-size: 18px;
}
